<!-- HTML5 Facebook comments -->
<div>dataHref: {{host}}/videos/{{model.id}}</div>
<div class="fb-comments" data-href="https://young-shelf-10460.herokuapp.com/videos/{{model.id}}" data-numposts="5" width="100%"></div>