<!-- HTML5 Facebook like button -->
<div id="fb-root"></div>
<div class="fb-like" data-href="https://young-shelf-10460.herokuapp.com/videos/{{model.id}}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" data-show-faces="true"></div>

{{yield}}