/* Animations */

/* Infinite fadein fadeout animation */
/* @see https://codepen.io/Ahrengot/pen/bKdLC */
@keyframes fadeIn { 
  from { opacity: 0.5; } 
  to   { opacity: 0.8; } 
}

.anim-fadein-infinite {
  animation: fadeIn 1s infinite alternate;
}