<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 72px">
</nav>

<!-- Header -->
{{html-header-title title="I GOT TALENT" subtitle="Share your talent with the globe."}}

<div class="text-center" style="height: 100px;">
  <button class="loginBtn loginBtn--facebook" style="cursor: pointer;" onclick={{action "login"}}>
    Login with Facebook
  </button>
</div>

<div class="container-fluid no-gutters">
  <div class="row no-gutters">
    <div class="col no-gutters">
      <img src="https://img.youtube.com/vi/0NJmrU25kBk/maxresdefault.jpg" style="width:100%">
    </div>
    <div class="col no-gutters">
      <img src="https://img.youtube.com/vi/jEas0gZb5qc/maxresdefault.jpg" style="width:100%">
    </div>
    <div class="col no-gutters">
      <img src="https://img.youtube.com/vi/8l_AqyHWxYM/maxresdefault.jpg" style="width:100%">
    </div>
  </div>
</div>



{{outlet}}